@media screen{
	body{
	  margin:0px;
	  padding:0px;
	  background-color:gray;

	}
	.document{
	  color: black;
	  font-size: 12pt;
	  top:0px;
	  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	}

	.page{
	  margin:0px auto;
	  margin-top:2em;
	  margin-bottom: 2em;
	  background-color:white;
	  height: 11in;
	  width: 8.5in;
	  box-shadow:10px 10px 5px #444;
	  font-family:inherit
	  overflow:none;
	  position:relative;

	}
	.margins{
	  padding-top:1in;
	  padding-bottom:1in;
	  padding-left:1in;
	  padding-right:1in;
	  font-family: inherit;
	  width:100%;
	  min-height: 100%;
	  -moz-box-sizing:border-box;
	  -webkit-box-sizing:border-box;
	  -ms-box-sizing:border-box;
	  -o-box-sizing:border-box;
	  overflow:none;
	}

	/*p{
	  text-indent: .5in;
	  font-family: inherit
	}*/

	.italic{
		font-style: italic;
	}
	
	.bold{
		font-weight: bold;
	}

	.underline{
		text-decoration: underline;
	}

	.indent:before{
	  white-space:pre-wrap;
	  content: '\9 ';
	  -moz-tab-size:8;
	  -o-tab-size:8;
	  tab-size: 8;
//	  text-indent: .5in;
	}
	.margin-indent{
	  display:inline;
	  min-width:1px;
	  margin-left: .5in;
	}
	
}
@media print{	
	input {
		display:none;
	}
}
